/* reset */
a {
    text-decoration: none;
    color: inherit;
}
ul,
li {
    list-style: none;
}

.notify-wrap-middle {
    position: relative;
    cursor: pointer;
}
.notify-wrap-inner-middle {
    padding: 0 20px;

    text-align: center;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notify-scroll-middle-swiper {
    display: inline-block;
    animation: text-scroll 150s linear infinite;
}
@keyframes text-scroll {
    from {
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }
}
.notify-scroll-middle-swiper ul {
    display: inline;
    font-weight: bold;
}
.notify-scroll-middle-swiper ul li {
    display: inline-block;
    padding-right: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.35);
}
.swiper-middle-finger-icon {
    line-height: 40px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    padding: 10px 0 0 50px;
    animation: none;
}
.swiper-middle-finger-icon img {
    height: 35px;
    margin-right: 5px;
    animation: none;
}
