.detail-container {
    width: 1200px;
    margin: 0 auto;
}
.detail-top-section {
    display: flex;
}
.detail-top-left {
    width: 60%;
}
.detail-top-img {
    width: 80%;
}
.detail-top-right {
    margin-top: 70px;
    width: 40%;
}
.detail-top-product-name {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
}
.detail-top-fixed-price {
    color: #999999;
    text-decoration: line-through;
}
.detail-top-discount-price {
    font-weight: bold;
}
.detail-top-discount {
    color: #4d1890;
    font-weight: bold;
}
.detail-top-price {
    display: flex;
    margin-top: 9px;
}
.detail-option-gray {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
.detail-option-section1 {
    margin-bottom: 13px;
}
.detail-option-section2 {
    margin-bottom: 13px;
}
.select {
    border: none;
    height: 43px;
    border: 1px solid #dedede;
}
.select1 {
    margin-left: 12px;
    border: none;
    height: 43px;
    border: 1px solid #dedede;
}
.detail-top-total-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.detail-top-cart-purchase {
    display: flex;
    text-align: center;
    line-height: 59px;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}
.detail-top-purchase-button {
    width: 50%;
    height: 59px;
    border: 1px solid black;
    color: white;
    background-color: black;
}
.detail-top-cart-button {
    width: 50%;
    height: 59px;
    border: 1px solid black;
    color: black;
    background-color: white;
}
