.my-info-container {
    width: 1000px;
    margin: 0 auto;
}
.my-info-section {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    align-items: center;
    padding: 30px 0px 30px 50px;
}
.my-info-section-right {
    display: flex;
    gap: 50px;
}
.my-info-section-right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.my-info-section-right div p {
    height: 20px;
}
.my-info-section-right div:first-child img {
    width: 22px;
    height: 16.5px;
}
.my-info-section-right div:nth-child(2) img {
    width: 19px;
    height: 16px;
}
.my-info-section-right div:nth-child(3) img {
    width: 20px;
    height: 20px;
}
.my-info-section-right div:nth-child(4) img {
    width: 22px;
    height: 16px;
}
.my-info-section-left {
    font-size: 30px;
}
.my-info-middle-section {
    display: flex;
    justify-content: space-between;
}
.my-info-middle-right-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 20px 0;
}
.my-info-middle-my-shopping {
    color: #c4c4c4;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 0;
}
.my-info-middle-my-review {
    font-size: 16px;
    font-weight: bold;
}
.my-info-middle-order {
    font-size: 18px;
    font-weight: bold;
}
table th {
    padding: 12px 0;
    background: #ffffff;
    border: none;
    color: #696969;
    font-size: 13px;
}
table {
    border: none;
}
.my-info-middle-all {
    font-size: 14px;
    color: #696969;
}
